<app-header title="Home"> </app-header>

<ion-content>
  <div class="d-flex-center">
    <ion-card>
      <img class="imagen" src="/assets/img/logo-sesion.jpg" />
      <ion-card-header>
        <ion-card-title class="name" color="tertiary"
          >{{nombreUsuario}}</ion-card-title
        >
        <ion-card-subtitle class="bien">Bienvenido</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Esta App te ayudara a llevar un control de tus gastos
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="name" color="tertiary">{{ sumaTotal }}$</ion-card-subtitle>
      <ion-card-title class="gastos">Sus Gastos son:</ion-card-title>
    </ion-card-header>
  </ion-card>
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs [tabs]="tabs"></app-tabs>
  </ion-toolbar>
</ion-footer>
