<app-header title="Listado De Gastos"></app-header>

<ion-content>
  <ion-card *ngFor="let categoria of categorias" mode="ios" color="tertiary">
    <ion-card-header>
      <ion-card-title>Categoría: {{ categoria.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let dato of categoria.datos">
          <ion-label class="fecha">Fecha: {{ dato.fecha }}</ion-label>
          <ion-label class="valor" slot="end">Valor: {{ dato.valor }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
