ion-button {
  text-transform: none;
}

// safe padding for ios
.safe-p-bottom {
  padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
  padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
  margin-top: 40px;
}

.empty {
  text-align: center;
  padding: 60px;
  opacity: 30%;

  ion-icon {
    font-size: 100px;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.custom-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;

  ion-label {
    position: relative;
    bottom: 2px;
  }

  .eye-icon {
    position: relative;
    top: 13px;
  }
}

.validators {
  color: var(--ion-color-danger);
  font-size: 13px;
  text-align: center;
}

.auth-form {
  width: 100%;
  text-align: center;
  padding: 20px;
}

@media (min-width: 769px) {
  .auth-form {
    width: 500px;
  }

  .add-update-modal {
    --height: 680px;
  }
}



  