<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="tertiary">
    <ion-title>MoniWise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- Login Form -->
    <div>
      <form action="">

        <h5>Iniciar Sesion</h5>

        <div>
          <input type="text" id="username" name="username" class="form-control form-control-lg" required />
          <label class="form-label" for="username">Usuario</label>
        </div>

        <div>
          <input type="password" id="password" name="password"  required />
          <label class="form-label" for="password">Contraseña</label>
        </div>

        <div>
          <ion-button  expand="block" fill="clear" shape="round">
            <ion-icon name="log-in-outline"></ion-icon>
            Login
          </ion-button>
        </div>

      </form>
    </div>

  </ion-card>


</ion-content>