.icon-button {
    width: 80px;
    --border-radius: 16px; /* Bordes redondeados */
    --box-shadow: 0 2px 4px #56e0ff; /* Sombra ligera */
    color:azure;
  }
  
  .icon-button ion-icon {
    font-size: 24px;
  }
  
  ion-content {
    --ion-grid-padding: 30px; /* Amenta el espaciado interno del ion-grid */
    --ion-background-color: #101010;
  }
  
  ion-row {
    --ion-justify-content: center; /* Centra los botones */
  }

  ion-label {
    color: #5389fd !important;  /* Cambia el color del texto de los ion-label */
  }
  
  ion-input {
    color: #8e8e8e; /* Cambia el color del texto de los ion-input */
  }
  .bold-text {
    font-weight: bold;
  }
  

  
  